

.child {
  position: absolute;
  top: 20%;
  left: 25%;
  right: 25%;
  bottom: 30%;
  background-color: rgb(77, 153, 33);
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
}

.parent {
  position: fixed;
  display: grid; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.card-element{
  background-color: orangered;
  font-style: italic;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: 
    ". a a ."
    ". a a .";
}
.item1 {
  grid-area: 75%;
  align-self: center;
  justify-self: center;
  background-color: blue
}

.item2 {
 grid-area: 1 / col4-start / last-line / 4;
 background-color: yellow;
 height: 58%; 
}